:root {
  --font-text: #000;
  --font-sub: #fbffff;
  --font-link: #4e73df;
  --font-header: #244673;
  --page-main: #fbffff;
  --subcolor: #2E608C;
  --highlightcolor: #e9a7ae;
  --darkcolor: #244673;
  --lightcolor: #accae2;
  --header-main: #244673;
  --header-sub: #fbffff;
  --header-sub: #fbffff;
  --header-font-main: #ffffff;
  --header-font-sub: #dce9f9;
  --header-font-software: #dce9f9;
  --header-font-highlight: #e4f7ff;
  --header-font-link: #dcf4ff;
  --sidebar-main: #383A3C;
  --sidebar-highlight: #636566;
  --sidebar-focus: #4e5252;
  --sidebar-font: #fbffff;
  --sidebar-font-hover: #aecbe9;
  --table-header: #244673;
  --table-body: #fbffff;
  --table-font-header: #fbffff;
  --table-sub-header: #2E608C;
  --table-sub-body: #fbffff;
  --table-sub-font-header: #fbffff;
  --card-header: #244673;
  --card-body: #fbffff;
  --card-font-header: #fbffff;
  --tabs-header: #396ea4;
  --tabs-header-hover: #244673;
  --tabs-master-header: #244673;
  --tabs-body: #fbffff;
  --tabs-font-header: #fbffff;
  --tabs-font-header-hover: #244673;
  --status-request: #e34348;
  --status-receive: #f2eb1e;
  --status-repair: #f0a92e;
  --status-check: #ff72ef;
  --status-approve: #15df44;
  --status-result: #389fdb;
  --status-result-alt: #b478d9;
  --status-finish: #5cdca9;
}
